akshare==1.18.47
altair==6.0.0
annotated-types==0.7.0
asgiref==3.8.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
boolean.py==5.0
builtwith==1.3.4
CacheControl==0.14.4
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.1
click==8.3.1
cloudscraper==1.2.71
cryptography==46.0.6
curl_cffi==0.14.0
cyclonedx-python-lib==11.7.0
decorator==5.2.1
defusedxml==0.7.1
Django==5.2
efinance==0.5.8
et_xmlfile==2.0.0
filelock==3.25.2
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.49.1
google-auth-oauthlib==1.3.0
greenlet==3.3.2
gspread==6.2.1
h11==0.16.0
html5lib==1.1
httpie==3.2.4
httplib2==0.31.2
idna==3.10
iniconfig==2.3.0
investpy==1.0.8
Jinja2==3.1.6
joblib==1.5.3
jsonpath==0.82.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
license-expression==30.4.4
lxml==5.4.0
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mini-racer==0.14.1
msgpack==1.1.2
multidict==6.4.3
multitasking==0.0.12
narwhals==2.18.0
numpy==2.2.6
oauth2client==4.1.3
oauthlib==3.3.1
openpyxl==3.1.5
outcome==1.3.0.post0
packageurl-python==0.17.6
packaging==26.0
pandas==2.3.3
patsy==1.0.2
pillow==12.1.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.9.4
playwright==1.58.0
plotly==6.6.0
pluggy==1.6.0
protobuf==6.33.6
psutil==7.2.2
py==1.11.0
py-serializable==2.1.0
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pyee==13.0.1
Pygments==2.19.2
PyMySQL==1.1.1
pynvesting==0.1.0
pyparsing==3.3.2
PySocks==1.7.1
pytest==9.0.2
pytest-json-report==1.5.0
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-pptx==1.0.2
python-whois==0.9.5
pytz==2025.2
referencing==0.37.0
requests==2.33.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rich==14.0.0
rpds-py==0.30.0
rsa==4.9.1
ruff==0.15.8
scikit-learn==1.8.0
scipy==1.15.3
selenium==4.41.0
setuptools==80.10.2
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
sqlparse==0.5.5
statsmodels==0.14.6
streamlit==1.55.0
tabulate==0.10.0
tenacity==9.1.4
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.4.1
tomli_w==1.2.0
tornado==6.5.5
tqdm==4.67.3
trio==0.33.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
Unidecode==1.4.0
urllib3==2.6.3
webencodings==0.5.1
websocket-client==1.9.0
wsproto==1.3.2
xlrd==2.0.1
XlsxWriter==3.2.3
xlutils==2.0.0
xlwt==1.3.0
